* {
    margin: 0;
    padding: 0;
    background: gray;
}

.menuButton, #counter, #timer {
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #007b32;
    text-align: center;
    cursor: pointer;
}
#centerizer {
    display: flex;
    justify-content: center;
}
#counter, #timer {
    background-color: #44825d;
    height: 20px;
    cursor: auto;
}

#counter p, #timer p {
    background-color: inherit;
}

.menuButton:hover {
    background: #009641;
}

#game {
    border-collapse: collapse;
    margin: 2% auto 0;
}
#menu {
    display: flex;
    justify-content: center;
}
td.cell {
    width: 20px;
    height: 20px;
    border: 1px dotted #eee;
    border-collapse: collapse;
}

.food {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
/*.food2 {*/
/*    background: #4438d0;*/
/*}*/
/*.food3 {*/
/*    background: #d05718;*/
/*}*/
/*.food4 {*/
/*    background: #d009be;*/
/*}*/

.snakeBody {
    background: #e5e5e5;
}

.snakeHead {
    background: #9b0013;
}

.disabled {
    background: #7c7c7c;
}

.disabled:hover {
    background: #7c7c7c;
}